*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}
h1{
    color: blue;
}
#board{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.square{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
}

.square:focus{
    outline: none;
    border: 2px solid red;
}

.user-input{
    font-weight: bold;
}

.computer-input{
    background-color: rgba(0, 255, 0, 0.5);
    color: grey;
    font-weight: bold;
}
body{
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
.main{
    text-align: center;
}
.array-container{
    height: 700px;
    padding-top: 5px;
}
.array-bar{
    width: 5px;
    display: inline-block;
    margin: 0 2px;
    background-color: blue;
}
.topBar{
    width: 100%;
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main button{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}
.main button:hover{
    color: lightgrey;
}
.main button:disabled{
    color: lightgrey;
}
#moves-left{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
p{
    text-align: center;
}